Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [1]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(matrix)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [3]:
print(matrix[2][1])

8

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [6]:
first = [x for x in range(5)]
tup = tuple(first)
print(tup)

(0, 1, 2, 3, 4)

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [7]:
a = (0,1,2,3,4)
li = list(a)
li.append(6)
tup=tuple(li)
print(tup)

(0, 1, 2, 3, 4, 6)

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [13]:
name = ('v','i','s','h','u')
word =''.join(name)
print(word)

vishu

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [14]:
def alu(tup):
    sum=0
    for i in tup:
        sum=sum+i
    return sum

tup=(1,2,3,4,5)
summ=alu(tup)
print(summ)

15