In [4]:
import pandas as pd
data=[6,7,8,9,10]
series=pd.Series(data)
print(series)

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [6]:
## Create a series from dictionary
data2={'a':1, 'b':2, 'c':3}
series_dit=pd.Series(data2)
print(series_dit)

a    1
b    2
c    3
dtype: int64

In [7]:
data3=[56,78,90]
ind=['c','d','e']
pd.Series(data3, index=ind)

c    56
d    78
e    90
dtype: int64

In [8]:
data4={
    'Name':['Vishwas', 'Anshul', 'Satwik'],
    'Age':[20,21,22],
    'City':['Kanpur', 'Hisar', 'Lucknow']
}
dat5=pd.DataFrame(data4)
print(dat5)

      Name  Age     City
0  Vishwas   20   Kanpur
1   Anshul   21    Hisar
2   Satwik   22  Lucknow

In [9]:
data=[
    {'Name':'Vishwas', 'Age':20, 'City':'Kanpur'},
    {'Name':'Sumit', 'Age':21, 'City':'Benaras'},
    {'Name':'Sahil', 'Age':19, 'City':'Guwhati'}
]
dat6=pd.DataFrame(data)
print(dat6)

      Name  Age     City
0  Vishwas   20   Kanpur
1    Sumit   21  Benaras
2    Sahil   19  Guwhati